:root {
   --secondary-color: #2e3b42;
   --primary-color: #f58220;
}
body {
   margin: 0;
   padding: 0;
   font-family: Raleway;
   font-weight: 400;
   color: var(--secondary-color);
}
h1 {
   font-size: 50px;
   font-weight: 700;
   margin: 10px 0 10px 0;
}
h2 {
   font-size: 50px;
   font-weight: 400;
   margin: 10px 0 10px 0;
}
h3 {
   font-size: 28px;
   font-weight: 400;
   margin: 5px 0 5px 0;
}
p {
   margin: 5px 0 5px 0;
   font-family: "IBM Plex Sans", sans-serif;
   font-weight: 400;
}
.section {
   padding: 2em;
}
.section1 {
   padding: 0;
   margin-right: 30px;
}
.section2 {
   padding: 1em;
   font-size: 20px;
}
.section3 {
   background-color: var(--secondary-color);
   padding: 2em 0 2em 0;

   color: white;
}
.section4 {
   background-color: #f0f2f7;
   padding: 2em 0 2em 0;
}
.section4 p {
   font-size: 25px;
}
.section4 .text_container {
   width: 80em;
}
.section3 p {
   font-size: 20px;
}
.image_container {
   max-height: 90%;
}
.image {
   width: 26em;
}
.image2 {
   width: 37em;
}
.image3 {
   width: 75em;
}
.image4 {
   width: 80em;
}
.text_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.text_container1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 80em;
}
.container {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container1 {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.container4 {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.grid_container {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-gap: 1em;
   width: 80em;
}
.grid_container2 {
   grid-gap: 1em;
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 80em;
}
.grid_container3 {
   display: grid;
   grid-template-columns: 1fr 2fr;
   width: 113em;
}
.flex_container1 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   width: 80em;
}
.flex_container2 {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   width: 38em;
}

.button1 {
   background-color: white;
   height: 3em;
   margin: 0;
   width: 9em;
   border-radius: 0;
   border-style: solid;
   border-width: thin;
   font-family: sans-serif;
   font-weight: 400;
   text-transform: uppercase;
}
.button1:hover {
   background-color: var(--secondary-color, red);
   color: white;
}
.button2 {
   background-color: var(--primary-color);
   color: white;
   height: 3em;
   margin: 0;
   width: 9em;
   border: none;
   border-radius: 0;
   font-family: sans-serif;
   font-weight: 400;
   text-transform: uppercase;
}
.button2:hover {
   background-color: #bc5400;
   color: white;
}
.button3 {
   background-color: var(--secondary-color);
   color: white;
   height: 3em;
   margin: 0;
   width: 9em;
   border: none;
   border-radius: 0;
   font-family: sans-serif;
   font-weight: 400;
   text-transform: uppercase;
}
.button3:hover {
   background-color: var(--primary-color);
   color: white;
}
.button3-lg {
   background-color: var(--secondary-color);
   color: white;
   height: 3em;
   margin: 0;
   width: 12em;
   border: none;
   border-radius: 0;
   font-family: sans-serif;
   font-weight: 400;
   text-transform: uppercase;
}
.button3-lg:hover {
   background-color: var(--primary-color);
   color: white;
}
.button4 {
   color: white;
   background-color: transparent;
   height: 3em;
   margin: 0;
   width: 9em;
   border-radius: 0;
   border-style: solid;
   border-width: thin;
   font-family: sans-serif;
   font-weight: 400;
   text-transform: uppercase;
}
.button4:hover {
   background-color: black;
   color: white;
}
@media only screen and (max-width: 1778px) {
   .image3 {
      width: 57em;
   }
   .grid_container3 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      width: 85em;
   }
   .flex_container2 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 29em;
   }
   .flex_container1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 64em;
   }
}
@media only screen and (max-width: 1364px) {
   .grid_container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 1em;
      width: 61em;
   }
   .image {
      width: 22em;
   }
   .text_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40em;
   }
   .grid_container2 {
      grid-gap: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 54em;
   }
   .image2 {
      width: 30em;
   }
   .text_container2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 30em;
   }
}
